@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 11px; */
}

.skillImageContainer {
  background-color: var(--color-card);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 90px;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: var(--color-card);
  background: linear-gradient(
    90deg,
    var(--color-card) 0%,
    rgba(25, 55, 109, 0) 100%
  );
  border-radius: 10px;
  padding: 14px;
}

.historyItem img {
  width: 20%;
}

.historyItemDetails h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.historyItemDetails p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  list-style-type: disc;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 90%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 97%;
    gap: 9px;
  }
  .historyItemDetails h3 {
    font-size: var(--font-size-md);
  }

  .historyItemDetails p {
    font-size: var(--font-size-sm);
  }

  .historyItemDetails ul {
    font-size: var(--font-size-xs);
  }
}
