@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  z-index: 2;
  box-shadow: var(--color-shadow);
  background: var(--color-card);
}

.title {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

.menu {
  font-size: var(--font-size-2xl);
  display: flex;
}

.menuItems {
  font-size: var(--font-size-2xl);
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: var(--color-card);
    padding: 24px 33px;
    box-shadow: var(--color-shadow);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
